---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects">;
  newTab?: boolean;
  small?: boolean;
};

const { entry, newTab = false, small = false } = Astro.props;
---

<a
  href={`/${entry.collection}/${entry.slug}`}
  target={newTab ? "_blank" : "_self"}
  class={`relative group flex flex-nowrap ${small ? "py-1.5 px-3 pr-8 w-max" : "py-3 px-4 pr-12 h-full"} rounded-xl border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white hover:shadow-lg transition-all duration-300 ease-in-out`}
>
  <div class="flex flex-col flex-1 justify-center gap-1">
    <div class={`font-semibold ${small ? "text-base" : "text-lg"}`}>
      {entry.data.title}
    </div>
    {!small && (
      <div class="opacity-80 leading-relaxed text-sm">
        {entry.data.description}
      </div>
    )}
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class={`absolute top-1/2 ${small ? "right-2.5 size-4" : "right-4 size-5"} -translate-y-1/2 stroke-2 fill-none stroke-current`}
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"
    ></line>
    <polyline
      points="12 5 19 12 12 19"
      class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
    ></polyline>
  </svg>
</a>
