:root {
    --background: #0a0a0c;
    --foreground: #fcfcfc;
    --accent: #00f0ff;
    /* Aesthetic high contrast cyan */
}

/* Ensure the container is centered */
.container {
    margin: 0 auto !important;
    border-right: none !important;
}